<% provide(:title, 'Główna') %>

	<% if signed_in? %>
	<div class="row">
  <aside class="span6">
      <% if Cardset.any? %>
        <h3>Ostatnio dodane sety:</h3>
        <%= will_paginate @cardsets %>
            <ul class="cards">
           <%= render @cardsets%>
            </ul>
      <% end %>
  </aside>
    <aside class="span6">
    	      <% if Card.any? %>
        <h3>Ostatnio dodane karty:</h3>
        <%= will_paginate @cards %>
            <ul class="cards">
           <%= render @cards%>
            </ul>
      <% end %>
  </aside>
</div>
	<% else %>
	<div class="center hero-unit">
	<h1>Witaj w aplikacji Kerbo</h1>
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
	<br>
	<%= link_to "Zarejestruj się!", rejestracja_path, class: "btn btn-large btn-primary" %>
	</div>
    <% end %>

