<% provide(:title, "Zaloguj się") %>
<h1>Zaloguj się</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Zaloguj się", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Jesteś tu nowy? <%= link_to "Zarejestruj się!", rejestracja_path %></p>
  </div>
</div>