<h1>Nowa karta</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@card) do |f| %>
    

      <%= f.label :term, "Termin" %>
      <%= f.text_field :term %>

      <%= f.label :definition, "Definicja" %>
      <%= f.text_area :definition %>

      <%= f.label :cardset, "Dodaj tą kartę do setu:" %>
     <%= select("cardset", :id, current_user.cardsets.all.collect {|p| [ p.name, p.id ] }, {:include_blank => true}) %>
   
      <br>
      <%= f.submit "Dodaj kartę!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>