<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         <%=link_to "kerbo", root_path, id: "logo" %><%= link_to "d", root_path, id: "logo_icon" %>
          <nav>
            <ul class="nav pull-right">

              <li><%= link_to "Strona Główna",    root_path %></li>
              <li><%= link_to "O aplikacji",    o_aplikacji_path %></li>
            <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Akcje <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nowy set", nowy_set_path %></li>

                <li><%= link_to "Nowa karta", nowa_karta_path %></li>
        
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Konto <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", current_user %></li>

               
                <li class="divider"></li>
                <li>
                  <%= link_to "Wyloguj się",  wyloguj_path, method: "delete" %>
                </li>
              </ul>
            </li>

          <% else %>
            <li><%= link_to "Zaloguj się", zaloguj_path %></li>
          <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>