<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         <%=link_to "cerbo", root_path, id: "logo" %><%= link_to "d", root_path, id: "logo_icon" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Strona Główna",    root_path %></li>
              <li><%= link_to "O aplikacji",    o_aplikacji_path %></li>
              <li><%= link_to "Zaloguj się", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>